@import "tailwindcss";

/*?  We set global styles for hiding scrollbar accross different browsers. */

*{
    scrollbar-width: none; /*Firefox*/
    -ms-overflow-style: none;  /*IE and Edge*/
}

*::-webkit-scrollbar {
    display: none; /*Chrome, Safari, Opera*/
}